@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body {
    background-color: #003049;

}
.searchbox {
    display: flex;
    justify-content: center;

}
input {
    border-radius: 30px;
    border: none;
    width: 250px;
    height: 50px;
    margin-right: 10px;
}
input::placeholder {
    padding-left: 10px;
}

button {
    background-color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}
button i {
    font-size: 30px;
}
button:hover {
    scale: 1.1;
}
#content {
    width: 0px;
    height: 0px;
    background-color: grey;
    margin-left: 425px;
    transition: 1s ease-in-out;
    border-radius: 30px;
    margin-top: 30px;
    background-color: #03045e;
    color: white;
}
#right {
    display: flex;
    justify-content: center;
}
#title {
    margin-right: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
#year {
    font-weight: 600;
}
#image {
    padding: 20px;
    border-radius: 30px;
    margin-left: 130px;
}
#plot {
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 500;
}
#content.open {
    width: 600px;
    height: 700px;
}
 